button,
div,
form {
  margin: 10px;
}

body {
    background-image: url('https://media1.giphy.com/media/3o7aCQjtpr8pi544YU/giphy.webp?cid=790b7611944a3a316558186edac74d97b9ce4f934f1ca5ef&rid=giphy.webp');
    background-size: cover;
    background-position: center;
}

#container {
    display: grid;
    align-items: center;
    justify-items: center;
}

h1, form, #gifs-view {
    background-color: black;
    color: white;
    border: 3px solid white;
    padding: 8px;
    border-radius: 24px;
}

form {
    display: grid;
    padding: 20px;
}

#displayed-gif {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

.gifspan {
    float: left;
    margin: 16px;
}

#gifs-view {
    display: none;
    align-self: center;
    padding-left: 40px;
    background-color: rgba(0,0,0,.50);
}

button, #add-gif {
    background-color: black;
    color: white;
    border: 3px, solid, white;
    padding: 5px;
}

#add-gif {
    margin-top: 10px;
    align-self: center;
}

#gif-input {
    margin-top: 10px;
}

@media screen and (max-width: 505px) {

    .gifspan {
        padding-left: 12px;
    }


    #displayed-gif {
        height: 200px;
        width: 200px;
    }

    #gifs-view {
        padding-left: 0;
        align-items: center;
    }

}

@media screen and (max-width: 305px) {


    #buttons-view {
        padding-left: 25px;
    }
    
    .gifspan {
        padding-left: 12px;
    }
    
    #displayed-gif {
        height: 150px;
        width: 150px;
    }

    #gifs-view {
        padding-left: 0;
        align-items: center;
    }

}

